<div id="tab1" class="tab-pane active">
  <h6>ITmedia PC USER - アクセスランキング</h6><br>
  <ol>
    <% @itmedia.each_with_index do |link, i| %>
      <a href="<%= link.get_attribute(:href) %>">
        <li><%= link.inner_text %></li>
      </a>
    <% end %>
  </ol>
</div>
<div id="tab2" class="tab-pane">
  <h6>はてなブックマーク - テクノロジー</h6><br>
  <ol>
    <% @hatena.each_with_index do |link, i| %>
      <a href="<%= link.get_attribute(:href) %>">
        <li><%= link.inner_text %></li>
      </a>
    <% end %>
  </ol>
</div>
<div id="tab3" class="tab-pane">
  <h6>TechCrunch Japan - 人気</h6><br>
  <ol>
    <% @tech.each_with_index do |link, i| %>
      <a href="<%= link.get_attribute(:href) %>">
        <li><%= link.inner_text %></li>
      </a>
    <% end %>
  </ol>
</div>
<div id="tab4" class="tab-pane">
  <h6>Yahoo! JAPAN - IT</h6><br>
  <ol>
    <% @yahoo.each_with_index do |link, i| %>
      <a href="<%= link.get_attribute(:href) %>">
        <li><%= link.inner_text %></li>
      </a>
    <% end %>
  </ol>
</div>
<div id="tab5" class="tab-pane">
  <h6>Gigazine - ソフトウェア</h6><br>
  <ol>
    <% @gigazine.each_with_index do |link, i| %>
      <a href="<%= link.get_attribute(:href) %>">
        <li><%= link.inner_text %></li>
      </a>
    <% end %>
  </ol>
</div>
