<main role='main' class='container'>
<div class="p-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab1" class="nav-link" data-toggle="tab">ITmedia</a>
    </li>
    <li class="nav-item">
      <a href="#tab2" class="nav-link" data-toggle="tab">はてな</a>
    </li>
    <li class="nav-item">
      <a href="#tab3" class="nav-link" data-toggle="tab">lifehacker</a>
    </li>
    <li class="nav-item">
      <a href="#tab4" class="nav-link" data-toggle="tab">日経</a>
    </li>
    <li class="nav-item">
      <a href="#tab5" class="nav-link" data-toggle="tab">Yahoo!</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="tab1" class="tab-pane active">
      <h5><a href="http://www.itmedia.co.jp/pcuser/subtop/ranking/">ITmedia PC USER</a></h5><br>
      <ol>
        <% @itmedia_link.each_with_index do |link, i| %>
          <a href='<%= link.get_attribute(:href) %>'>
            <li><%= link.inner_text %></li>
          </a>
          <% break if i == 19 %>
        <% end %>
      </ol>
    </div>
    <div id="tab2" class="tab-pane">
      <h5><a href="http://b.hatena.ne.jp/hotentry/it?of=9">はてなブックマーク - テクノロジー</a></h5><br>
      <ol>
        <% @hatena_link.each_with_index do |link, i| %>
          <a href='<%= link.get_attribute(:href) %>'>
            <li><%= link.inner_text %></li>
          </a>
          <% break if i == 19 %>
        <% end %>
      </ol>
    </div>
    <div id="tab3" class="tab-pane">
      <h5><a href="https://www.lifehacker.jp/tags/web/cat4/">lifehacker - ソフトウェア</a></h5><br>
      <ol>
        <% @lifehacker_link.each_with_index do |link, i| %>
          <a href='<%= link.get_attribute(:href) %>'>
            <li><%= link.inner_text %></li>
          </a>
          <% break if i == 19 %>
        <% end %>
      </ol>
    </div>
    <div id="tab4" class="tab-pane">
      <h5><a href="http://tech.nikkeibp.co.jp/ranking/">日経 xTECH ランキング：総合</a></h5><br>
      <ol>
        <% @tech_link.each_with_index do |link, i| %>
          <a href='http://tech.nikkeibp.co.jp<%= link.get_attribute(:href) %>'>
            <li><%= link.inner_text %></li>
          </a>
          <% break if i == 19 %>
        <% end %>
      </ol>
    </div>
    <div id="tab5" class="tab-pane">
      <h5><a href="https://news.yahoo.co.jp/list/?c=computer">Yahoo! JAPAN IT</a></h5><br>
      <ol>
        <% @yahoo_link.each_with_index do |link, i| %>
          <a href='<%= link.get_attribute(:href) %>'>
            <li><%= link.inner_text %></li>
          </a>
          <% break if i == 19 %>
        <% end %>
      </ol>
    </div>
  </div>
</div>
</main>
