<h2>Headline News</h2>

<h4>Yahoo! JAPAN IT</h4>
<div>
  <ol>
    <%@yahoo_link.each_with_index do|link, i|%>
      <a href='<%=link.get_attribute(:href)%>' target='_blank'>
        <li><%=link.inner_text%></li>
      </a>
      <% break if i == 9 %>
    <%end%>
  </ol>
</div>
<h4>はてなブックマーク - テクノロジー</h4>
<div>
  <ol>
    <%@hatena_link.each_with_index do|link, i|%>
      <a href='<%=link.get_attribute(:href)%>' target='_blank'>
        <li><%=link.inner_text%></li>
      </a>
      <% break if i == 8 %>
    <%end%>
  </ol>
</div>
<h4>日経 xTECH ランキング：総合</h4>
<div>
  <ol>
    <%@tech_link.each_with_index do|link, i|%>
      <a href='http://tech.nikkeibp.co.jp<%=link.get_attribute(:href)%>' target='_blank'>
        <li><%=link.inner_text%></li>
      </a>
      <% break if i == 9 %>
    <%end%>
  </ol>
</div>
